/* App.css */
.modal {
    position: fixed;
    top: 0;
    right: -100%; /* Start off-screen */
    width: 250px;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s; /* Transition for sliding effect */
  }
  
  .modal-content {
    padding: 16px;
  }
  
  .modal.show {
    right: 0; /* Slide in */
  }
  